:root {
    --darkgreen-color: #344E41;
    --green-color: #3A5A40;
    --lightgreen-color: #588157;
    --mint-color: #A3B18A;
    --beige-color: #DAD7CD;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--darkgreen-color);
}

.page {
    margin: 50px;
    background-color: var(--beige-color);
    border-radius: 15px;
}

.logo {
    text-decoration: none;
    color: var(--green-color);
    font-weight: bold;
    font-size: 42px;
    display: flex;
    z-index: 999;
    align-items: center;
}

.logo i {
    margin: 30px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    align-items: center;
    padding: 50px 100px;
    margin-bottom: 20px;
}

.navigation a {
    color: var(--green-color);
    text-decoration: none;
    padding: 18px;
    font-weight: bold;
    font-size: 32px;
}

.home {
    display: flex;
    align-items: center;
}

.home img {
    width: 500px;
    margin-left: 150px;
}

.content {
    margin: 100px 50px;
    width: 600px;
}

.content h1 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 44px;
}

.content h1 span {
    color: var(--lightgreen-color);
}

.content h4 {
    font-size: 20px;
    opacity: 0.7;
}

.home button {
    margin-top: 50px;
    border-radius: 50%;
    padding: 20px;
    width: 150px;
    font-size: 20px;
    background-color: var(--lightgreen-color);
    color: white;
    border: none;
    cursor: pointer;
}

.about {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.about img {
    margin: 30px;
    width: 500px;
}

.about span {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 500;
    padding: 20px;
}

.about span div {
    font-size: 28px;
    color: var(--lightgreen-color);
}

.about span div p {
    color: black;
    font-size: 20px;
}

.service h2 {
    font-size: 48px;
    text-align: center;
    color: var(--green-color);
    text-transform: capitalize;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 100px;
    row-gap: 30px;
    padding: 50px 0;
}

.service {
    margin-top: 100px;
}

.box .first img {
    width: 300px;
    height: 300px;
    margin: 30px;
}

.box .first {
    background-color: var(--mint-color);
    margin: 0 20px;
    border: 5px;
    border-radius: 10%;
    box-shadow: 0 0 10px rgb(173, 172, 172);
    height: 100%;
    transition: transform;
}

.first:hover {
    transform: scale(1.1);
}

.first h3 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: var(--darkgreen-color);
}

.first button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    margin: 0 80px;
    margin-bottom: 20px;
    background-color: var(--green-color);
    border: none;
    color: var(--beige-color);
    font-size: large;
    cursor: pointer;
}

.contact {
    margin-top: 100px;
}

.contact h2 {
    font-size: 48px;
    text-align: center;
    color: var(--green-color);
    text-transform: capitalize;
}

.box2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 70px;
}

.second .third h3 {
    color: var(--green-color);
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0;
}

.second .third div {
    font-size: 22px;
    opacity: 0.6;
    margin: 0 30px;
    text-transform: capitalize;
}

.second .third span {
    font-size: 30px;
    margin: 0 30px;
    cursor: pointer;
    color: var(--lightgreen-color);
}

.second h3 {
    color: var(--green-color);
    font-weight: bold;
    font-size: 34px;
    margin: 20px;
}

.second input {
    width: 500px;
    height: 40px;
    margin: 5px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--darkgreen-color);
}

.second .message {
    height: 80px;
}

.second button {
    margin-top: 25px;
    border-radius: 50%;
    padding: 20px;
    width: 150px;
    font-size: 20px;
    background-color: var(--lightgreen-color);
    color: var(--beige-color);
    border: none;
    cursor: pointer;
}

.long-image img {
    width: 100%;
}

.footer {
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    color: var(--darkgreen-color);
    text-align: center;
    text-transform: capitalize;
    height: 60px;
    padding: 20px;
}